<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- <script src="jquery-2.1.4.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <!-- <script src="script_map.js"></script> -->
</head>
  <body>
  <div id="navbar"><span>Search for healthy places to eat</span></div>
  <div id="wrapper">
    <button id="location-button">Get User Location</button>
    <div id="googleMap" style="height: 400px; width: 60%;"></div>
  </div>

  <script>
  ///source: https://developers.google.com/codelabs/maps-platform/google-maps-nearby-search-js#3
  //Define variables
    let map;
    let service;
    let myCenter;

    function initialize() {
      $('#location-button').click(function(){
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(position => {
          //console.log(position.coords.latitude);
          // $.get("https://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false&key=AIzaSyCzMysQ07iohR7lqodqb1ZnOd0xYcK0O80", function(data) {
          let latit_h =  position.coords.latitude;
          let long_h = position.coords.longitude;
          
          myCenter= new google.maps.LatLng(latit_h,long_h);
          let mapOptions = {
            center: myCenter,
            zoom: 12,
            mapTypeId: 'roadmap',
            };
          map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
          // Nearby Search depending on user's location
          getNearbyPlaces(myCenter);
        })
      }
    })

  function getNearbyPlaces(position) {
    let request = {
      location: position,
      rankBy: google.maps.places.RankBy.DISTANCE,
      fields: ["name", "formatted_address"],
      keyword: 'comida saludable'
      };
    service = new google.maps.places.PlacesService(map);
    service.nearbySearch(request, nearbyCallback);
  }
                  
  // Handle the results of the Nearby Search
  function nearbyCallback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      createMarkers(results);
    }
  }

  // Create an info window to share between markers
  let infoWindow = new google.maps.InfoWindow()

  // Set markers at the location of each place result
  function createMarkers(places) {
    places.forEach(place => {
      let marker = new google.maps.Marker({
        position: place.geometry.location,
        map: map,
        title: place.name
      });
      // Add a click listener for each marker, and set up the info window.
    marker.addListener("click", () => {
      infoWindow.close();
      //infoWindow.setContent(marker.title);
      infoWindow.setContent(marker.title );
      infoWindow.open(marker.getMap(), marker);
    });

    })
    }
  };            
                
  </script>
  <!-- GOOGLE MAPS SOURCE -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzMysQ07iohR7lqodqb1ZnOd0xYcK0O80&callback=initialize&libraries=places"></script>
  </body>
</html>